.dashboard {
    display: flex;
    height : 100%;
    outline: 1px solid green;

    &-left {
        width: 100%;

        &-card {
            display  : flex;
            flex-wrap: wrap;


        }
    }

    &-right {
        background: rgba(255, 255, 255, 1);
        width     : 340px;
    }
}