.main {
    height: calc(~"100%-50px");



    .dashboard {
        display: flex;
        height : 100%;
        padding: 10px 10px;

        &-left {
            width: 100%;

            &-setting {
                width        : 100%;
                height       : 40px;
                line-height  : 40px;
                text-align   : right;
                padding-right: 20px;

                &>div {
                    cursor: pointer;
                }
            }

            &-card {
                display  : flex;
                flex-wrap: wrap;
            }

            &-chart {
                margin          : 8px;
                background-color: #fff;

                &-title {
                    height       : 40px;
                    border-bottom: 1px solid rgba(245, 245, 245, 1);
                    line-height  : 40px;
                    padding-left : 10px;
                }

                &-content {
                    height : 270px;
                    display: flex;
                }
            }
        }

        &-right {
            background: rgba(255, 255, 255, 1);
            width     : 340px;
        }
    }
}