.main {
    width : 100%;
    height: 100%;

    .dashboard {
        display: flex;
        height : 100%;
        padding: 10px 10px;

        &-left {
            // width   : calc(~"90%-340px");
            // flex    : 1;

            &-setting {
                // width        : 100%;
                height          : 40px;
                line-height     : 40px;
                text-align      : right;
                padding-right   : 20px;

                &>div {
                    cursor: pointer;
                }
            }

            &-card {
                display  : flex;
                flex-wrap: wrap;
            }

            &-chart {
                margin          : 8px;
                background-color: #fff;

                &-title {
                    height       : 40px;
                    border-bottom: 1px solid rgba(245, 245, 245, 1);
                    line-height  : 40px;
                    padding-left : 10px;
                }

                &-content {
                    height : 270px;
                    display: flex;
                }
            }


        }

        &-right {
            flex      : 0 0 340px;
            background: rgba(255, 255, 255, 1);
            width     : 340px;
            height    : 100%;
        }
    }


}

.modal-foot {
    display    : flex;
    align-items: center;
    position   : relative;
    height     : 32px;
    text-align : left;

    &>div:nth-child(1) {
        color    : #2B44FF;
        font-size: 12px;
    }

    &>div:nth-child(2) {
        position: absolute;
        right   : 0;
    }
}

.modal-content {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    line-height    : 16px;
    margin-top     : 15px;

    &>span {
        font-size: 16px;
        color    : rgba(0, 0, 0, 1);
    }

    .ant-switch-checked {
        background-color: #00BD66;
    }
}