@import '~view-design/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #53A7A9;

.title {
    font-size       : 20px;
    color           : #53A7A9;
    letter-spacing  : 0;
    line-height     : 60px;
    padding-left    : 30px;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;


    .icon {
        float       : right;
        margin-top  : 10px;
        color       : #666;
        margin-right: 10px;
    }
}