.card {
    width           : 157px;
    height          : 75px;
    background-color: #fff;
    margin          : 7px;

    &-title {
        height       : 22px;
        font-size    : 8px;
        width        : 157px;
        line-height  : 22px;
        padding-left : 10px;
        border-bottom: 1px solid rgba(245, 245, 245, 1);
    }

    &-content {
        height     : 53px;
        line-height: 53px;
        text-align : center;
        font-size  : 14px;
        color      : rgba(48, 48, 48, 1);

        &-num {

            &>span:nth-child(1) {
                color    : #2B44FF;
                font-size: 14px;
            }

            &>span:nth-child(2) {
                color    : #FF3F2B;
                font-size: 14px;
            }
        }
    }

}