.work {
    &-content {
        &-title {
            width     : 800px;
            margin    : 0 auto;
            margin-top: 20px;
        }

        &-main {
            width           : 800px;
            background-color: #fff;
            margin          : 0 auto;
            border-radius   : 8px;

            &-article {
                margin: 0px 20px;

                &-foot {
                    // outline        : 1px solid red;
                    margin-top        : 20px;
                    display           : flex;
                    justify-content   : space-between;

                    &-time {
                        color: #A1A1A1;
                    }

                    &-number {
                        display: flex;
                        color  : #A1A1A1;
                    }
                }
            }
        }
    }
}